@model NetMvc.Cms.Portal.Models.OrderViewModel
@{
    ViewBag.Title = "Checkout Complete";
}
<br />
<h2>Đặt hàng thành công</h2>
<br />
<p>
    Cám ơn bạn đặt hàng!
    <br />
    Mã đơn hàng: @Model.ID
</p>