@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
   <!-- Page-Level Plugin Scripts - Dashboard -->
<script src="~/Scripts/plugins/morris/raphael-2.1.0.min.js"></script>
<script src="~/Scripts/plugins/morris/morris.js"></script>
    <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
<script src="~/Scripts/admin/demo/dashboard-demo.js"></script>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@Resources.CmsResource.AdminHomePageTitleText</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-shopping-cart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@ViewBag.OrdersCount</div>
                        <div>Đơn hàng</div>
                    </div>
                </div>
            </div>
            <a href="/Admin/Order/Index">
                <div class="panel-footer">
                    <span class="pull-left">Chi tiết</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
       
    </div>
    <!-- /.col-lg-4 -->
</div>
<!-- /.row -->